@model MenuResponce

<form class="menu-card" method="GET" action="@Url.Action("EditMenu", "Dishes")">
    <input type="hidden" name="menuId" value="@Model.MenuId" />
    <h4>@Model.MenuName</h4>
    <ul>
        @foreach (Dish dish in Model.Dishes)
        {
            <li>@dish.DishName</li>
        }
    </ul>
    <button type="submit" class="submit-button">@Model.CalculatePrice()₴</button>
</form>
